<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>I-Blogify | Signup</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div>nothing is here</div>

    <%- include('./partials/scripts') %>
  </body>
</html>
